.h3_eksempler {
  font-family: "Neue Montreal", sans-serif;
  color: #3d1900;
  font-size: 32px;
  text-align: left;
  line-height: 150%;
  margin: 50px 10px 0 5px;
  padding: 0 10px 0 10px;
}

p {
  font-family: "Neue Montreal", sans-serif;
  color: #3d1900;
  font-size: 20px;
  text-align: right;
  line-height: 150%;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
}

.i_box {
  color: #fffcf3;
  margin: 5px 0 50px;
}

label {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  color: #3d1900;
  margin: 5px 10px 0 5px;
  padding: 0 10px 0 5px;
}

input,
textarea {
  font-family: "Neue Montreal", sans-serif;
  color: #3d1900;
  font-size: 16px;
}

.eksempler {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
  color: white;
  margin: 10px 0px 10px 0px;
}

.orange_box {
  background-color: #ff6c39;
  padding: 5px 5px 50px 5px;
  text-align: right;
  margin-top: 20px;
  /* position: relative; */
  box-shadow: 10px -10px 0 var(--primary);
}

#box1 {
  grid-column: 1/5;
}
#box2 {
  grid-column: 2/7;
}
#box3 {
  grid-column: 1/6;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.textfelt {
  margin: 10px 10px 10px 5px;
  padding: 10px 10px 30px 5px;
  background-color: #fffcf3;
  border-width: 3px;
  border-color: var(--primary);
}

#email,
#metode {
  padding: 10px 100px 30px 5px;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
}

button {
  font-family: "Neue Montreal", sans-serif;
  background-color: #ff6c39;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 20px 2px 4px 2px;
  cursor: pointer;
  box-shadow: 10px -10px 0 var(--primary);
  transition: 0.3s;
}
button:hover {
  background-color: var(--primary);
  box-shadow: 10px -10px 0 #ff6c39;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}

input {
  padding: 10px;
  margin: 3px 0px 3px 0px;
}

form {
  margin: 30px 0px 30px 0px;
}

.input {
  margin: 10px 0px 10px 0px;
}
#kaffevogn {
  background-image: url(/img/Kaffevogn.webp);
}

/* computersite */
@media (min-width: 1300px) {
  h1 {
    font-family: "DM Serif Display", serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 64px;
    text-transform: uppercase;
  }
  .information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
