* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general css? */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f4dec9;
}
h2 {
  font-family: "DM Serif Display", serif;
  color: #3d1900;
  font-style: italic;
  font-weight: lighter;
  font-size: 48px;
  text-transform: uppercase;
  text-align: right;
  padding: 0 10px 10px 10px;
}
h3 {
  font-family: "Neue Montreal", sans-serif;
  color: #3d1900;
  font-size: 32px;
  text-align: left;
  line-height: 150%;
  margin: 50px 10px 0 5px;
  padding: 0 10px 0 5px;
}

.h3_eksempler {
  font-family: "Neue Montreal", sans-serif;
  color: #3d1900;
  font-size: 32px;
  text-align: left;
  line-height: 150%;
  margin: 50px 10px 0 5px;
  padding: 0 10px 0 10px;
}

p {
  font-family: "Neue Montreal", sans-serif;
  color: #3d1900;
  font-size: 20px;
  text-align: right;
  line-height: 150%;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
}

.i_box {
  color: #fffcf3;
  margin: 5px 0 50px;
}

label {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  font-style: lighter;
  color: #3d1900;
  margin: 5px 10px 0 5px;
  padding: 0 10px 0 5px;
}

input,
textarea {
  font-family: "Neue Montreal", sans-serif;
  color: #3d1900;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

.eksempler {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
  color: white;
  margin: 10px 0px 10px 0px;
}

.orange_box {
  background-color: #ff6c39;
  padding: 5px 5px 50px 5px;
  text-align: right;
  margin-top: 20px;
  position: relative;
  box-shadow: 10px -10px 0 #7a600e;
}

#box1 {
  grid-column: 1/5;
}
#box2 {
  grid-column: 2/7;
}
#box3 {
  grid-column: 1/6;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.textfelt {
  margin: 10px 10px 10px 5px;
  padding: 10px 10px 30px 5px;
  background-color: #fffcf3;
  border-width: 3px;
  border-color: #7a600e;
}

#email,
#metode {
  padding: 10px 100px 30px 5px;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
}

button {
  font-family: "Neue Montreal", sans-serif;
  background-color: #ff6c39;
  padding: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
  box-shadow: 10px -10px 0 #7a600e;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

input {
  padding: 10px;
  margin: 3px 0px 3px 0px;
}

form {
  margin: 30px 0px 30px 0px;
}

.input {
  margin: 10px 0px 10px 0px;
}

/* tablet view */
@media only screen and (min-width: 700px) and (max-width: 1300px) {
  main {
    max-width: 670px;
    margin: 0 auto;
  }
  /* .information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  #kaffevogn {
    grid-column: 1/2;
    grid-row: 2;
  } */
  form {
    grid-column: 2/3;
    grid-row: 2;
  }
}

/* computersite */
@media (min-width: 1300px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  h1 {
    font-family: "DM Serif Display", serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 64px;
    text-transform: uppercase;
  }
  .information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  /* #kaffevogn {
    grid-column: 1/2;
    grid-row: 2;
  } */
  /* form {
    grid-column: 2/3;
    grid-row: 2;
  } */
}
