/* general css? */
body {
  background-color: #f4dec9;
}
h2 {
  font-family: "DM Serif Display", serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 40px;
  text-transform: uppercase;
}

main {
  max-width: 400px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

.eksempler {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  color: white;
  margin: 10px 0px 10px 0px;
}

.orange_box {
  background-color: #ff6c39;
  padding: 5px 5px 35px 5px;
  text-align: right;
}

#box1 {
  grid-column: 1/5;
}
#box2 {
  grid-column: 2/7;
}
#box3 {
  grid-column: 1/6;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.textfelt {
  width: 100%;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
}

button {
  background-color: #ff6c39;
  padding: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 20px;
  position: relative;
  box-shadow: 10px -10px 0 #3d1900;
}

input {
  padding: 10px;
  margin: 3px 0px 3px 0px;
}

form {
  margin: 30px 0px 30px 0px;
}

.input {
  margin: 10px 0px 10px 0px;
}

/* tablet view */
@media only screen and (min-width: 700px) and (max-width: 1300px) {
  main {
    max-width: 670px;
    margin: 0 auto;
  }
  /* .information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  #kaffevogn {
    grid-column: 1/2;
    grid-row: 2;
  } */
  form {
    grid-column: 2/3;
    grid-row: 2;
  }
}

/* computersite */
@media (min-width: 1300px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  h1 {
    font-family: "DM Serif Display", serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 64px;
    text-transform: uppercase;
  }
  .information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  /* #kaffevogn {
    grid-column: 1/2;
    grid-row: 2;
  } */
  /* form {
    grid-column: 2/3;
    grid-row: 2;
  } */
}
