/* grid for menukortet */
.menukort {
  display: grid;
  grid-template-columns: 1fr;
}

/* litste elementer */
.menupunkt {
  margin-top: 20px;
  margin-left: 10px;
}

ul,
dl {
  list-style: none;
}

dt,
li {
  font-size: 22px;
  font-family: "Neue Montreal", sans-serif;
}

dd {
  font-style: italic;
  font-size: 16px;
}

/* computersite */
@media (min-width: 1300px) {
  .menukort {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

main h3 {
  padding-left: 5px;
}
