.orange_box h3 {
  font-family: "Neue Montreal", sans-serif;
  font-weight: 200;
  font-size: 32px;
  color: #fffcf3;
}

.orange_box {
  color: #fffcf3;
  background-color: #ff6c39;
  margin: 20px 0 20px 90px;
  padding: 5px 5px 50px 5px;
  text-align: right;
  min-height: 120px;
  box-shadow: 10px -10px 0 #7a600e;
}

.i_box {
  color: #fffcf3;
  margin: 5px 0 50px;
}

.brown_box1 {
  background-color: #3d1900;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.brown_box2 {
  background-color: #3d1900;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}
p {
  text-align: left;
}

.we_support img {
  margin-top: 20px;
  box-shadow: 10px -10px 0 #3d1900;
}

.sociale_medier {
  display: flex;
}

ul {
  list-style: none;
}

.socials {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 40px;
  justify-items: center;
  margin: auto;
  text-align: center;
}

.socials img {
  width: 60px;
  height: 60px;
  margin: 10px 10px;
}

.socials a {
  color: black;
}

/* computersite */
@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
