/* .grid_1-1 img {
  width: 100%;
} */

body {
  background-color: #f4dec9;
}

p {
  font-family: "Neue Montreal", sans-serif;
  color: #3d1900;
  font-size: 20px;
  text-align: right;
  line-height: 150%;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
}

.om_om_h3 {
  font-family: "Neue Montreal", sans-serif;
  font-weight: 200;
  font-size: 32px;
  color: #fffcf3;
}

.orange_box {
  color: #fffcf3;
  background-color: #ff6c39;
  margin: 20px 0 20px 90px;
  padding: 5px 5px 50px 5px;
  text-align: right;
  min-height: 120px;
  box-shadow: 10px -10px 0 #7a600e;
}

.i_box {
  color: #fffcf3;
  margin: 5px 0 50px;
}

.brown_box1 {
  background-color: #3d1900;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.brown_box2 {
  background-color: #3d1900;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

.cycling_cancer {
  margin-top: 20px;
  box-shadow: 10px -10px 0 #3d1900;
  width: 100%;
  height: auto;
}

.legeheltene {
  margin-top: 20px;
  box-shadow: 10px -10px 0 #3d1900;
  width: 100%;
  height: auto;
}

dl {
  font-size: 16px;
  color: white;
}

ul {
  list-style: none;
}
.facebook {
  align-items: end;
}
.facebook img {
  width: 60px;
  height: 60px;
  margin: 10px 10px;
  padding: auto;
}

.instagram img {
  width: 55.5px;
  height: 55.5px;
  margin: 10px 10px;
  padding: auto;
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.socials a {
  color: black;
}

/* computersite */
@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
