/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

html {
  scroll-behavior: smooth;
  --primary: #a08d17;
}

.divider {
  border-top: 1px solid var(--primary);
  margin-top: 30px;
  margin-bottom: 40px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f4dec9;
}

h1 {
  font-family: "The Rainmaker";
  font-size: 95px;
  font-weight: lighter;
  color: #fffcf3;
}

h2 {
  font-family: "DM Serif Display", serif;
  color: #3d1900;
  font-style: italic;
  font-weight: lighter;
  font-size: 48px;
  text-transform: uppercase;
  text-align: right;
  margin: 20px 10px 20px 0px;
  padding: 0 10px 0 10px;
}

h3 {
  font-family: "Neue Montreal", sans-serif;
  font-weight: 200;
  font-size: 32px;
  color: var(--primary);
}
/* navbar */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #a08d17;
}

.logo img {
  height: 130px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  font-family: "Neue Montreal", sans-serif;
  font-size: 23px;
  display: block;
  padding: 10px;
  color: #fffcf3;
  transition: color 0.3s;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #ff6c39;
  font-size: 25px;
  transition: 0.3s;
}

.burger {
  width: 40px;
  height: 25px;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  color: #fffcf3;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #fffcf3;
  margin-bottom: 5px;
  transition: 0.3s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    flex-direction: column;
    padding: 0px;
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: rgba(61, 25, 0, 0.65);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-family: "Neue Montreal", sans-serif;
    font-size: 45px;
    padding-right: 0px;
  }
}

/* FONTE */

@font-face {
  font-family: "The Rainmaker";
  src: url(/fonts/The\ Rainmaker.woff);
  font-weight: 800;
}

@font-face {
  font-family: "Neue Montreal";
  src: url(/fonts/ppneuemontreal-book.woff);
  font-style: normal;
  font-weight: normal;
}
